.pending {
  background-color: #fbf5e8;
  color: #d39c1d;
  border: 1px solid #d39c1d;
  border-radius: 1.5rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
}

.approved {
  background-color: #e6f5ee;
  color: #069855;
  border: 1px solid #069855;
  border-radius: 1.5rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
}

.rejected {
  background-color: rgb(251, 240, 240);
  color: red;
  border: 1px solid red;
  border-radius: 1.5rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
}

/* Search input */
.dataTables_wrapper {
  color: var(--color-text);
}
.dataTables_wrapper .dataTables_filter input {
  color: #069855;
  border: 2px solid #534feb;
  border-radius: 8px;
  padding: 6px 12px;
  margin-left: 0.5rem;
  outline: none;
  transition: 0.3s;
  margin-bottom: 0.5rem;
}

.dataTables_wrapper .dataTables_filter input:focus {
  border-color: #2c2bb7;
  box-shadow: 0 0 5px rgba(83, 79, 235, 0.4);
}

/* "Show entries" dropdown */
.dataTables_wrapper .dataTables_length select {
  border: 1px solid #534feb;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 0 0.5rem;
  outline: none;
  transition: 0.3s;
  margin-bottom: 0.5rem;
}

.dataTables_wrapper .dataTables_length select:focus {
  border-color: #2c2bb7;
  box-shadow: 0 0 5px rgba(83, 79, 235, 0.4);
}

/* Pagination buttons */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  border-radius: 8px;
  margin: 0 2px;
  padding: 3px 9px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: var(--btn-bg) !important;
  color: #fff !important;
}

.table {
  background-color: var(--color-bg);
  border-radius: 0.7rem;
  overflow: hidden;
  border: 2px solid var(--color-border);
}

.table tbody tr {
  padding-bottom: 20px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background-color: var(--btn-bg);
  border: none !important;
  background: transparent !important;
  font-size: 1.2rem;
  margin: 6px;
  color: var(--btn-bg) !important;
  cursor: pointer;
  transition: 0.2s;
}

/* Hover effect */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #2c2bb7 !important;
  transform: scale(1.2);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #fff !important;
  background: var(--btn-bg) !important;
  background-color: var(--btn-bg);
  border-radius: 8px;
  padding: 4px 12px;
}

table.dataTable {
  border-collapse: separate !important;
  border-spacing: 0 10px;
}

h4 {
  font-family: Preahvihear;
  border-radius: 3rem;
  color: #e6f5ee !important;
  background-color: #534feb !important;
}

.nav-tabs {
  border-bottom: none;
  justify-content: center;
  gap: 20px; /* space between tabs */
}

.nav-tabs .nav-link {
  border: none;
  border-radius: 35px; /* more rounded */
  padding: 15px 40px; /* bigger height & width */
  background: #f5f5f5;
  color: #444;
  font-size: 1.2rem; /* bigger text */
  font-weight: 600;
  transition: all 0.3s ease;
}

.nav-tabs .nav-link:hover {
  background: #e9e9e9;
}

.nav-tabs .nav-link.active {
  background: var(--color-sidebar-active);
  color: #fff !important;
  box-shadow: 0 6px 15px rgba(83, 79, 235, 0.3);
  transform: scale(1.05); /* make active one pop */
}

.tab-content {
  margin-top: 25px;
  padding-inline: 20px;
  padding-top: 55px;
  padding-bottom: 10px;
  border-radius: 20px;
  background: var(--color-card-bg);
  box-shadow: 0 4px 15px rgba(109, 109, 109, 0.1);
}

.quota-card {
  background-color: var(--color-card-bg);
  color: var(--color-text);
  border-radius: 15px;
  transition: transform 0.2s ease;
}

small {
  color: var(--color-muted);
}

.quota-card:hover {
  transform: translateY(-3px);
}

.badge {
  font-size: 0.9rem;
  padding: 0.6em 1em;
}

#requestsTable th,
#requestsTable td {
  color: var(--color-text);
  background-color: var(--color-bg);
  white-space: normal;
}

@media (max-width: 570px) {
  #requestsTable th,
  #requestsTable td {
    padding: 0.1rem 0.1rem !important;
    font-size: 0.6rem !important;
  }
}

form > div > label,span {
  color: var(--color-text);
}

form > div .form-control,
.form-select {
  color: var(--color-text);
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
}

.form-control:focus,
.form-select:focus{
  color: var(--color-text);
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
   box-shadow: none;   
}

.input-group-text {
  color: var(--color-text) !important;
  background-color: var(--color-bg) !important;
  border: 1px solid var(--color-border);
}

button[type="submit"] {
  background-color: var(--btn-bg); /* dark background */
  color: var(--color-text);           /* light text */
}