@import url("theme.css");

body {
  /* background: #f8f9fa; */
}

.kanban-column {
  background-color: var(--color-kanban-list-bg);

  border-radius: 16px;
  padding: 16px;
  margin: 10px 0;
  min-height: 70vh;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.kanban-header {
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.task-list {
  /* background-color: var(--color-sidebar-bg); */
  color: var(--color-text) !important;
  flex: 1;
  padding: 6px;
  border-radius: 10px;
  min-height: 140px;
}

.task-card {
  background-color: var(--color-card-bg);
  color: var(--color-text) !important;
  border-radius: 12px;
  margin-bottom: 15px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  cursor: grab;
  transition: transform 0.15s ease;
}
.card-body > p{
  color: var(--color-text) !important;
}

.task-card:hover {
  transform: translateY(-3px);
}

.badge-custom {
  font-size: 0.7rem;
  padding: 5px 10px;
  border-radius: 20px;
}

.avatars img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: -8px;
  border: 2px solid #fff;
}

.drag-placeholder {
  height: 70px !important;
  margin-bottom: 12px;
  background: transparent;
}

.task-list.is-over {
  outline: none !important;
}

.mynav li a {
  display: block;
  color: #000;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: normal;
}

.mynav li a:hover {
  background: #2563eb;
  color: #fff;
}

.mynav li a.active {
  background-color: #2563eb;
  color: #fff;
}

.mynav li a i {
  width: 25px;
  text-align: center;
}

.notification-badge {
  background-color: rgba(255, 255, 255, 0.7);
  float: right;
  color: #222;
  font-size: 14px;
  padding: 0px 8px;
  border-radius: 2px;
}

.logout a {
  background-color: #2563eb;
  border-radius: 8px;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.navsmall {
  background-color: #2563eb;
  padding: 10px 15px;
  color: white;
}

/* sidebar end */
