@import url("theme.css");

body {
  background-color: var(--color-bg) !important;
  overflow-x: hidden;
}

.sidebar {
  position: sticky;
  top: 0;
  min-width: 220px;
  max-width: 220px;
  height: 100vh;
}

@media (max-width: 991.98px) {
  .sidebar {
    display: none;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1000px) {
  .offcanvas {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }

  .offcanvas-backdrop {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }

  body {
    overflow: auto !important;
  }
}

#sidebar > ul > li > a {
  color: var(--color-text) !important;
}

.main-side > div > ul > li > a {
  color: var(--color-text) !important;
}

#sidebar {
  background-color: var(--color-sidebar-bg) !important;
  color: var(--color-text) !important;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
.main-side {
  background-color: var(--color-sidebar-bg) !important;
  color: var(--color-text) !important;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 992px) {
  #sidebar {
    height: 100vh;
    padding: 0px;
  }
}

.side-title {
  color: var(--color-muted) !important;
  font-family: Preahvihear;
}

a.active {
  background-color: var(--color-sidebar-active) !important;
}

.main-btn {
  background-color: #534feb;
}

.main-btn:hover {
  background-color: #625de6;
}

.accordion-button:not(.collapsed) {
  background-color: var(--color-sidebar-active) !important;
  color: var(--color-text) !important;
  padding: 8px;
  padding-inline: 12px;
  border: 1px solid #534feb !important;
  border-radius: 7px !important;
}

.accordion-button {
  padding: 8px;
  padding-inline: 17px;
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}

.accordion-item,
.accordion-button,
.accordion-collapse {
  border: none !important;
  box-shadow: none !important;
  border-radius: 5px;
}

.accordion-button::after {
  background-size: 0.75rem;
  width: 0.75rem;
  height: 0.75rem;
}

.accordion-button::after {
  filter: invert(22%) sepia(98%) saturate(7478%) hue-rotate(240deg)
    brightness(92%) contrast(90%);
}

/* When accordion is open */
.accordion-button:not(.collapsed)::after {
  filter: invert(100%) brightness(200%);
  /* White icon */
}

.accordion {
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-color: var(--color-sidebar-bg) !important;
  border-bottom: 1px solid var(--color-border) !important;
  box-shadow: 0 1px 2px var(--color-border);
  padding: 6px 24px;
  width: 100%;
}

.navbar .welcome-text {
  font-weight: bold;
  font-size: 16px;
  color: var(--color-sidebar-active);
}

.navbar i {
  color: var(--color-sidebar-active);
}

.navbar .dropdown-menu {
  background-color: var(--color-bg) !important;
  color: var(--color-text) !important;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", "Segoe UI", sans-serif;
  font-size: 15px;
}

.navbar .dropdown-menu > li > a {
  color: var(--color-text) !important;
}

.navbar .dropdown-item:hover {
  background: var(--color-sidebar-hover);
  color: #534feb;
}

.btn,
.btn-outline-primary {
  /* background-color: var(--btn-bg); */
  color: var(--btn-text);
  border: 1px solid var(--btn-bg);
  transition: all 0.3s ease;
}

.btn:hover,
.btn-outline-primary:hover,
.btn-outline-primary > i:hover {
  background-color: var(--btn-bg-hover);
  color: var(--btn-text) !important;
}

.btn:hover,
.btn-outline-primary:hover,
.btn-outline-primary > i:active {
  background-color: var(--btn-bg-hover) !important;
  color: var(--btn-text) !important;
}

.accordion,
.accordion-collapse,
.accordion-body,
.accordion-header,
.collapsed {
  background-color: var(--color-sidebar-bg) !important;
  color: var(--color-text) !important;
}

.accordion-button {
  color: var(--color-text) !important;
}

.accordion-body > ul > li > a {
  color: var(--color-text) !important;
}

#flush-headingOne .accordion-header {
  color: var(--color-text) !important;
}
